// ## Colors

// ### Primary - Orange: hsl(25, 97%, 53%)
// ### Neutral
// - White: hsl(0, 0%, 100%)
// - Light Grey: hsl(217, 12%, 63%)
// - Medium Grey: hsl(216, 12%, 54%)
// - Dark Blue: hsl(213, 19%, 18%)
// - Very Dark Blue: hsl(216, 12%, 8%)

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    section{
        border-radius: 15px;
        background-color: hsl(213, 19%, 18%);
        margin:20px 10px;
        padding: 21px;
    }
    p{
        color: hsl(217, 12%, 63%);
    }
}

.attribution{
    position:absolute;
    bottom: 0;
}
.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(216, 12%, 54%);
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}